DirectoryIndex index.php

RewriteEngine on
RewriteRule .* - [E=CONTENT_TYPE:%{HTTP:content-type}]
RewriteRule .* - [E=PHP_AUTH_DIGEST:%{HTTP:Authorization}]

<IfModule mod_php5.c>
    php_value upload_max_filesize "128M"
    php_value post_max_size "128M"
    php_value memory_limit "256M"
</IfModule>