/* HEADER */
.header h1{
    text-indent: 328px;
    font-size: 42px;
    line-height: 100px;
    font-weight: bold;
}
.header h1:hover{
    text-decoration: none;
}

/* */
.magazine-embed-script{
    color: black;
    width: 100%;
    height: 10em;
}

/* LIBRARY TABLE */
.admin-table{
    min-width: 50%;
}
.admin-table th{
    padding: 0.5em;
    background-color: #D9CECE;
}
.admin-table td{
    padding: 0.5em;
    border: 1px solid #D9CECE;
}

#virtual-mag{
    outline: 2px solid #D9CECE;
}
