/* HEADER */
.header h1{
    text-indent: 250px;
    font-size: 50px;
    line-height: 133px;
}
.header h1:hover{
    text-decoration: none;
}

/* CONTENT */
.content{
    min-height: 200px;
}
.content h3{
    font-weight: bold;
    font-size: 2em;
    margin-top: 1em;
}
.content h3:first-child{
    margin-top: 0;
}


.magazine-embed-script{
    color: black;
    width: 100%;
    height: 10em;
}

.admin-table th{
    padding: 0.5em;
    background-color: #D9CECE;
}
.admin-table td{
    padding: 0.5em;
    border: 1px solid #D9CECE;
}

ol.magazine-page-links{
    font-weight: bold;
}
ol.magazine-page-links a{
    font-style: italic;
    font-weight: normal
}

p{
    margin-bottom: 1em;
}

.magazine-admin-button{
    padding: 0.5em;
    border-radius: 0.25em;
    color: white;
    background-color: black !important;
    font-weight: bold;
}